@charset "utf-8";
h1, h2 { font-family:Georgia; font-size:140%; margin-top:0; }
h2 { font-size:100%; margin:20px 0 10px; text-align:left; }
.form-container { width:400px; margin:0 auto; position:relative; font-family:Verdana; font-size:80%; padding:20px; background-color:#e0e3e2; border:3px solid #abadac; }
.form-panel { width:400px; height:241px; }
.form-panel fieldset { width:397px; height:170px; margin:0 auto; padding:22px 0 0; border:1px solid #abadac; background-color:#ffffff; }
.form-panel label { width:146px; display:block; float:left; text-align:right; padding-top:2px; margin-right:10px; }
.form-panel input, .form-panel textarea { float:left; width:200px; margin-bottom:13px; }
.form-container button { float:right; }
p { margin:0; font-size:75%; position:absolute; left:30px; top:53px; font-weight:bold; }
#amount { position:absolute; right:30px; top:53px; font-size:80%; font-weight:bold; }



/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff 50% 50% repeat-x; color: #222222; }

.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc 50% 50% repeat-x; color: #222222; font-weight: bold; }


/* Progressbar
----------------------------------*/
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */



/*Мое*/

#thanks { text-align:center; }
#thanks p {font-size:120%; position:relative; left:0; top:0; }

#thanks p.otvet {font-size:100%}

#loading {height:30px}
#loading img {display:none}; 